<footer class="footer">
  <div class="container">
    &copy; {{ site.time | date: '%Y' }} Riverside Ultimate
    <div class="media-links">
      <a target="_blank" href="https://www.facebook.com/RiversideUltimate">
        <i class="fab fa-facebook-square"></i>
      </a>
      <a target="_blank" href="https://twitter.com/riversideulti">
        <i class="fab fa-twitter-square"></i>
      </a>
      <a href="mailto:hello@riversideultimate.org">
        <i class="fas fa-envelope-square"></i>
      </a>
    </div>
  </div>
</footer>
