<footer class="footer">
  <div class="container">
    &copy; {{ site.time | date: '%Y' }} Riverside Ultimate
    <div class="media-links">
      <a class="noex" target="_blank" href="https://www.facebook.com/RiversideUltimate">
        <i class="fab fa-facebook-square"></i>
      </a>
      <a class="noex" target="_blank" href="https://twitter.com/riversideulti">
        <i class="fab fa-twitter-square"></i>
      </a>
      <a class="noex" target="_blank" href="https://www.youtube.com/channel/UCKcUX1gJrVisCkfVfvA955Q">
        <i class="fab fa-youtube-square"></i>
      </a>
      <a class="noex" href="mailto:hello@riversideultimate.org">
        <i class="fas fa-envelope-square"></i>
      </a>
      <a class="noex" target="_blank" href="https://github.com/rustyfausak/riverside">
        <i class="fab fa-github-square"></i>
      </a>
    </div>
  </div>
</footer>
