<header class="header">
  <div class="container">
    <div class="row center-sm middle-xs stretch-xs">
      <div class="col-xs-6 col-sm-4 col-sm flex">
        <a href="{{ site.url }}/" class="logo" title="Riverside Ultimate, Austin TX"></a>
      </div>
      <div class="col-xs-6 col-sm-8 col-sm">
        <ul class="nav">
          <li><a href="{{ site.url }}/">About</a></li>
          <li><a href="{{ site.url }}/seasons/2018">Season</a></li>
          <li><a href="{{ site.url }}/riverside-classic/2018">Riverside Classic</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>
