<header class="header">
  <div class="container">
    <div class="row center-sm middle-xs stretch-xs">
      <div class="col-xs-6 col-sm flex">
        <a href="/" class="logo" title="Riverside Ultimate, Austin TX"></a>
      </div>
      <div class="col-xs-6 col-sm">
        <ul class="nav">
          <li><a href="/">Home</a></li>
          <li><a href="/history">History</a></li>
          <li><a href="#">Teams</a></li>
          <li><a href="#">Tryouts</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>
