.footer {
  color: $grey3;
  padding: 1rem;
  text-align: center;
  font-size: 14px;
  .media-links {
    display: flex;
    justify-content: center;
    margin-top: 0.25rem;
    a {
      margin-right: 1.5rem;
      font-size: 40px;
      color: $grey3;
      &:hover {
        color: $navy;
      }
      &:last-child {
        margin-right: 0;
      }
    }
    @media only screen and (min-width: $sm) {
      a {
        font-size: 30px;
        margin-right: 0.5rem;
      }
    }
  }
}
