.page {
  background-color: $white;

  .imagetron {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 200px;
    @media only screen and (min-width: $sm) and (min-height: 40rem) {
      min-height: 400px;
    }
  }

  .hello {
    font-size: 20px;
    font-weight: 300;
    text-align: left;
    margin: 0 auto;
    padding: 2rem 1rem;
    @media only screen and (min-width: $sm) {
      text-align: center;
    }
  }
}
