---
---
@charset "utf-8";

@import "_variables";
@import "_includes/_header";
@import "_includes/_footer";
@import "_layouts/_default";

body {
  background-color: $grey1;
  color: $navy2;
  font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Calibri', 'Candara', 'Segoe', 'Segoe UI', 'Optima', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
}

html,
body,
.base {
  height: 100%;
}

.flex {
  display: flex;
}
.stretch-xs {
  align-items: stretch;
}
