<!doctype html>
<html lang="en">
  <head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ site.url }}/favicon.ico">

    <!-- CSS -->
    <link rel="stylesheet" href="{{ site.url }}/static/styles/normalize.css">
    <link rel="stylesheet" href="{{ site.url }}/static/styles/flexbox.css">
    <link rel="stylesheet" href="{{ site.url }}/static/styles/app.css">

    <!-- Icons -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>

    <title>{{ page.title | escape }} &bull; {{ site.title }}</title>
  </head>
  <body>
    <div class="base">
      {{ content }}
    </div>

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{{ site.url }}/static/scripts/app.js"></script>
  </body>
</html>
